@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer base {
    html {
        @apply h-screen;
    }

    body {
        @apply h-screen bg-teal-950 overflow-x-hidden;
    }
}

@layer utilities {
    .App {
        @apply mx-4 md:mx-8 lg:mx-12;
    }

    .chart-container {
        @apply bg-gray-950 text-white;
    }
}
